################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/pronouncenames.github.io/v15/Server/sqlite3
