.sat {
    min-height: 100%;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    line-height: 1.5;
    margin-top:5px
    
   
}
audio {
    padding:5px  
}
hr {

}
.bgimg-2 {
    background-image: url("./W3images/parallax2.jpg");
    min-height: 100px;
}
